# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 4
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a %2 == 0 or b %2 == 0:
        if a > b:
            return a
        else:
            return b
    else:
        if a < b:
            return a
        else:
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

4

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    spt_text = text.split()
    if spt_text[0][0]==spt_text[1][0]:
        return True
    else:
        return False

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [7]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20 :
        return True
    else:
        return False

In [8]:
# Check
makes_twenty(20,10)

True

In [9]:
# Check
makes_twenty(2,3)

False

In [10]:
# Check
makes_twenty(12,8)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [11]:
def old_macdonald(name):
    name[:3].capitalize()+name[3:].capitalize()
    return name[:3].capitalize()+name[3:].capitalize()

In [12]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [13]:
'macdonald'.capitalize()

'Macdonald'

In [14]:
"mac".capitalize()

'Mac'

In [15]:
"mac"[0:3].capitalize()

'Mac'

In [16]:
"Donald"[:6].upper()

'DONALD'

In [17]:
"Donald".upper()

'DONALD'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [18]:
def master_yoda(text):
    list1 = text.split()
    reverselist1 = list1[::-1]
    return " ".join(reverselist1)

In [19]:
# Check
master_yoda('I am home')

'home am I'

In [20]:
# Check
master_yoda('We are ready')

'ready are We'

In [21]:
mylist = ["a","b","c"]

In [22]:
"--".join(mylist)

'a--b--c'

In [23]:
" ".join(mylist)

'a b c'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
#abs(100-n) <= 10 or abs 200 <= 10

In [24]:
def almost_there(n):
    if n in range(90,111) or n in range (190,211):
        return True
    
    else:
        return False

In [28]:
#check
almost_there(90)

True

In [25]:
# Check
almost_there(104)

True

In [26]:
# Check
almost_there(150)

False

In [27]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [29]:
def has_33(nums):
    for x in range(0,len(nums)-1):
        if nums[x] == 3 and nums [x+1] == 3:
            return True
        else:
            return False

In [30]:
# Check
has_33([1, 3, 3])

False

In [31]:
# Check
has_33([1, 3, 1, 3])

False

In [32]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [33]:
def paper_doll(text):
    result = " "
    for al in text :
        result = result + al*3
    return result

In [34]:
# Check
paper_doll('Hello')

' HHHeeellllllooo'

In [35]:
# Check
paper_doll('Mississippi')

' MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [36]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum ([a,b,c])-10 <= 21:
        return sum ([a,b,c])-10
    else:
        return "BUST"

In [37]:
# Check
blackjack(5,6,7)

18

In [38]:
# Check
blackjack(9,9,9)

'BUST'

In [39]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
#need to have 9 somewhere after 6 input

In [40]:
def summer_69(arr):
    total = 0
    x = False

    for num in arr:
        if num == 6:
            x = True
        if not x:
            total = total+ num
        if num == 9:
            x = False

    return total

In [41]:
# Check
summer_69([1, 3, 5])

9

In [42]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [43]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

nums = [0, 0, 7]
code = [0, 0, 7, 'x']

#### First iteration
num = 0 #(first element of nums)
num == code[0] is true
code[0] is removed
code = [0, 7, 'x']

#### Second iteration
num = 0 #(second element of nums)
num == code[0] is true
code[0] is removed
code = [7, 'x']

#### Third iteration
num = 7 #(third element of nums)
num == code[0] is true
code[0] is removed
code = ['x']

### End of the loop
All elements of nums have been iterated, so the loop is over

code = ['x']
len(code) == 1 is true
True is returned

In [44]:
def spy_game(nums):
    code = [0,0,7]
    for i in nums:
        if i == code[0]:
            code.pop()
            
        return len(code) == 1

In [48]:
def spy_game(nums):
    code = [0,0,7]
    index = 0
    for i in nums:
        if index < 3 and i == code[index]:
            index = index + 1
            
        return index == 3

In [49]:
# Check
spy_game([1,2,4,0,0,7,5])

False

In [50]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [51]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [52]:
list1 = [ 1, 2, 3, 4, 5, 6 ] 
  
# Pops and removes the last element from the list 
print(list1.pop()) 
  
# Print list after removing last element 
print("New List after pop : ", list1, "\n") 
  
list2 = [1, 2, 3, ('cat', 'bat'), 4] 
  
# Pop last three element 
print(list2.pop()) 
print(list2.pop()) 
print(list2.pop()) 
  
# Print list 
print("New List after pop : ", list2, "\n")

6
New List after pop :  [1, 2, 3, 4, 5]

4
('cat', 'bat')
3
New List after pop :  [1, 2]

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
## How many primes num are there ???!!!

In [53]:
def count_primes(num):
    #check for 0 because 0 or 1 cant be prime num
    if num < 2:
        return 0
    # 2 itself is prime num!
    # 2 or greater
    
    prime = [2]
    #start from 3
    # keep adding on to the x until it hit the input num
    x = 3
    while x <= num:
        #check if x is prime
        for y in range(3,x,2):
                #from 3 to x in Even step(2)
            if x % y == 0:
            # we will knew that we dont have prime num
            # if x % one of this prime num == 0
                x+=2
                break
        else:
            prime.append(x)
            x += 2
        print(prime)
        return len(prime)

In [54]:
# Check
count_primes(100)

[2, 3]

2

In [55]:
def count_primes(num):

    if num < 2: 
        return 0

    primes = [2]

    for n in range(3,num,2):

        for i in primes:

            if n%i == 0:

                break

        else:

            primes.append(n)

    return len(primes)

In [56]:
# Check
count_primes(100)

25

## Great Job!